version: "3.9"

services:
  db:
    image: postgres:17
    container_name: coffequeue-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
    - "5432:5432"
    volumes:
    - ../createSchema.sql:/docker-entrypoint-initdb.d/createSchema.sql
    - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: coffequeue
    depends_on:
    - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
    ports:
    - "8000:8080"
    restart: always

volumes:
  postgres_data:
