apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
data:
  POSTGRES_USER: cG9zdGdyZXM=
  POSTGRES_PASSWORD: cG9zdGdyZXNwb3N0Z3Jlcw==
  POSTGRES_DB: Y29mZmVlcXVldWU=

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-initdb
  namespace: default
data:
  init.sql: |
    -- PostgreSQL database dump
    --

    -- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
    -- Dumped by pg_dump version 17.4

    -- Started on 2025-10-29 09:37:54 UTC

    SET statement_timeout = 0;
    SET lock_timeout = 0;
    SET idle_in_transaction_session_timeout = 0;
    SET transaction_timeout = 0;
    SET client_encoding = 'UTF8';
    SET standard_conforming_strings = on;
    SELECT pg_catalog.set_config('search_path', '', false);
    SET check_function_bodies = false;
    SET xmloption = content;
    SET client_min_messages = warning;
    SET row_security = off;

    --
    -- TOC entry 4 (class 2615 OID 2200)
    -- Name: public; Type: SCHEMA; Schema: -; Owner: -
    --

    CREATE SCHEMA IF NOT EXISTS public;


    --
    -- TOC entry 218 (class 1259 OID 16386)
    -- Name: coffee_orders; Type: TABLE; Schema: public; Owner: -
    --

    CREATE TABLE public.coffee_orders (
        id bigint NOT NULL,
        createdat timestamp(6) without time zone NOT NULL,
        customername character varying(255) NOT NULL,
        status character varying(255) NOT NULL,
        updatedat timestamp(6) without time zone NOT NULL,
        CONSTRAINT coffee_orders_status_check CHECK (((status)::text = ANY ((ARRAY['NEW'::character varying, 'BREWING'::character varying, 'DONE'::character varying])::text[])))
    );


    --
    -- TOC entry 217 (class 1259 OID 16385)
    -- Name: coffee_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: -
    --

    ALTER TABLE public.coffee_orders ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
        SEQUENCE NAME public.coffee_orders_id_seq
        START WITH 1
        INCREMENT BY 1
        NO MINVALUE
        NO MAXVALUE
        CACHE 1
    );


    --
    -- TOC entry 3212 (class 2606 OID 16393)
    -- Name: coffee_orders coffee_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: -
    --

    ALTER TABLE ONLY public.coffee_orders
        ADD CONSTRAINT coffee_orders_pkey PRIMARY KEY (id);


    -- Completed on 2025-10-29 09:37:54 UTC

    --
    -- PostgreSQL database dump complete
    --

---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: local-storage
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-local-pv
  labels:
    app: postgres
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  local:
    path: /mnt/data/postgres
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - coffeequeue-control-plane

---
apiVersion: v1
kind: Service
metadata:
  name: postgres-headless
  labels:
    app: postgres
spec:
  ports:
  - port: 5432
    name: postgres
  selector:
    app: postgres
  clusterIP: None

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres-db
  labels:
    app: postgres
spec:
  serviceName: "postgres-headless"
  replicas: 2
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:17
        ports:
        - containerPort: 5432
          name: postgres-port
        envFrom:
        - secretRef:
            name: postgres-secret
        livenessProbe:
          exec:
            command:
            - "pg_isready"
            - "-U"
            - "postgres"
            - "-d"
            - "coffee_orders"
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 5
        readinessProbe:
          exec:
            command:
            - "pg_isready"
            - "-U"
            - "postgres"
            - "-d"
            - "coffee_orders"
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3
        volumeMounts:
        - name: postgres-data
          mountPath: /var/lib/postgresql/data
        - name: postgres-initdb-volume
          mountPath: /docker-entrypoint-initdb.d/
      volumes:
      - name: postgres-initdb-volume
        configMap:
          name: postgres-initdb
  volumeClaimTemplates:
  - metadata:
      name: postgres-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: "local-storage"
      resources:
        requests:
          storage: 1Gi